@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-400 hover:text-blue-600;
}

:root {
  background-color: #f4f4f4;

  font-size: 18px;
  padding: 4rem 4rem 1rem 4rem;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 16rem;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing-effect {
  overflow: hidden;
  border-right: 3px solid black;
  white-space: nowrap;
  animation: typing 7s steps(7, start) infinite, blink 0.75s infinite;
}
